@font-face {
  font-family: 'montserratbold';
  src: url('/fonts/montserrat-bold-webfont.woff2') format('woff2'), url('/fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratlight';
  src: url('/fonts/montserrat-light-webfont.woff2') format('woff2'), url('/fonts/montserrat-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratthin';
  src: url('/fonts/montserrat-thin-webfont.woff2') format('woff2'), url('/fonts/montserrat-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratregular';
  src: url('/fonts/montserrat-regular-webfont.woff2') format('woff2'), url('/fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
header {
  background-color: rgba(239, 240, 242, 0.99);
  max-width: 1440px;
  min-width: 1250px;
  min-height: 806px;
  border-spacing: 25px;
  margin: 0 auto;
  position: relative;
}
header .headline {
  position: absolute;
  display: flex;
  margin-top: 64px;
  width: 100%;
}
header .headline .logo {
  margin-left: 150px;
}
header .headline .logo a {
  display: block;
  width: 113px;
  height: 46px;
  background: url(/img/Logo.png);
}
header .headline .logo a:hover {
  cursor: pointer;
}
header .headline .menu-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .headline .menu-wrapper .menu {
  background: url(/img/Menue.png);
  width: 30px;
  height: 21px;
  margin-right: 152px;
  transition: all .2s;
}
header .headline .menu-wrapper .menu:hover {
  opacity: .7;
  cursor: pointer;
}
header .header-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
header .header-content .header-subtitle {
  margin-top: 316px;
  text-transform: uppercase;
  font-family: 'montserratbold';
  color: #505050;
  font-size: 45px;
  line-height: 28px;
  text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
}
header .header-content .header-subtitle p:first-child {
  margin-bottom: 25px;
}
header .header-content .header-subtitle span {
  background-color: rgba(118, 244, 234, 0.5);
  padding: 8px 10px 1px 10px;
}
header .contact_wrapper {
  display: flex;
  justify-content: center;
}
header .contact_wrapper .contact_us {
  display: block;
  font-family: montserratregular;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  border-radius: 2px;
  border-width: 2px;
  border-color: #404040;
  border-style: solid;
  padding: 10px 48px;
  margin-top: 150px;
  transition: all .2s;
}
header .contact_wrapper .contact_us:hover {
  opacity: .7;
  cursor: pointer;
}
header .contact_wrapper .contact_us:active {
  color: #e53935;
  border-color: #000000;
  opacity: .7;
}
header .header-item {
  left: 1117px;
  top: 574px;
  position: absolute;
  width: 121px;
  height: 156px;
  background: url(/img/Cork_coaster.png);
}
