@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Montserrat:400,700|Raleway:400,500');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    min-width: 1250px;
}

header {
    background-color: rgba(239, 240, 242, 0.99);
    min-height: 806px;
    border-spacing: 25px;
    position: relative;
    width: 100%;
    .headline {
        position: absolute;
        display: flex;
        margin-top: 64px;
        width: 100%;
        .logo {
            margin-left: 150px;
            a {
                display: block;
                width: 113px;
                height: 46px;
                background: url(/img/Logo.png);
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .menu-wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .menu {
                background: url(/img/Menue.png);
                width: 30px;
                height: 21px;
                margin-right: 152px;
                transition: all .2s;
                &:hover {
                    opacity: .7;
                    cursor: pointer;
                }
            }
        }
    }
    .header-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        .header-subtitle {
            margin-top: 316px;
            text-transform: uppercase;
            font-family: Montserrat;
            color: #505050;
            font-size: 45px;
            font-weight: 700;
            line-height: 28px;
            text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
            p:first-child {
                margin-bottom: 25px;
            }
            span {
                background-color: rgba(118, 244, 234, 0.5);
                padding: 8px 10px 1px 10px;
            }
        }
    }
    .contact_wrapper {
        display: flex;
        justify-content: center;
        .contact_us {
            display: block;
            font-family: Montserrat;
            font-weight: 400;
            color: #000000;
            font-size: 18px;
            line-height: 28px;
            text-transform: uppercase;
            border-radius: 2px;
            border-width: 2px;
            border-color: #404040;
            border-style: solid;
            padding: 10px 48px;
            margin-top: 150px;
            transition: all .2s;
            &:hover {
                opacity: .7;
                cursor: pointer;
            }
            &:active {
                color: #e53935;
                border-color: #000000;
                opacity: .7;
            }
        }
    }
    .header-item {
        left: 1117px;
        top: 574px;
        position: absolute;
        width: 121px;
        height: 156px;
        background: url(/img/Cork_coaster.png);
    }
}

main {
    position: relative;
    .about_us {
        background-color: #f8fafa;
        position: absolute;
        min-height: 985px;
        width: 100%;
        h1 {
            font-family: Montserrat;
            font-weight: 700;
            color: #000000;
            font-size: 38px;
            line-height: 28px;
            text-transform: uppercase;
            margin-top: 129px;
            text-align: center;
        }
        p {
            margin-top: 17px;
            font-family: Merriweather;
            color: #707070;
            font-weight: 400;
            line-height: 28px;
            text-align: center;
            text-transform: uppercase;
        }
        .blockwrapper {
            display: flex;
            .block1 {
                margin-left: 186px;
                margin-right: 111px;
                width: 479px;
                height: 533px;
                background: url(/img/Rectangle\ 1.png);
            }
            .block2 {
                width: 474px;
            }
        }
    }
}